cffi==1.5.2
cryptography==1.2.3
Cython==0.23
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
Kivy==1.9.1
Kivy-Garden==0.1.4
ndg-httpsclient==0.4.0
oauthlib==1.0.3
pyasn1==0.1.9
pycparser==2.14
pygame==1.9.3
pyOpenSSL==0.15.1
python-dotenv==0.8.2
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
twython==3.3.0
